</main>
    <footer>
      <div class="copyright">
        <p>&copy; <%= new Date().getFullYear() %> Dimitris Chios. All rights reserved.</p>
      </div>
      <div class="social-icons">
        <p class="social-header">Follow Me</p>
        <a
          href="https://www.linkedin.com/in/dimitris-chios/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/ChiosDim"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
      </div>
    </footer>
  </body>
</html>