</main>

<footer>
   <div class="copyright">
     <p>Dimitris Chios © <%= new Date().getFullYear() %></p>
   </div>
   <div class="social-icons">
      <p class="social-header">Socials</p>
      <a href="https://www.linkedin.com/in/dimitris-chios/" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
      <a href="https://github.com/ChiosDim" target="_blank"><i class="fab fa-github"></i>Github</a>
   </div>
 </footer>

</body>
</html>