<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Movies List</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <script src="https://kit.fontawesome.com/a1de4ca2c2.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <nav>
    <div class="brand">
      <a href="/"><i class="fa-solid fa-clapperboard film-icon"></i>Movie Time</a>
    </div>
    <ul class="nav-links">
      <!--<li><a href="/"><i class="fas fa-home home-icon"></i>Home</a></li> -->
      <li><a href="/add"><i class="fas fa-plus plus-icon"></i>Add a Movie</a></li>
      <li><a href="/" class="no-hover"><i class="fa-solid fa-address-card contact-icon"></i>Contact</a>
        <ul class="contact-dropdown">
          <li><a href="https://www.linkedin.com/in/dimitris-chios/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
          <li><a href="https://github.com/ChiosDim" target="_blank"><i class="fab fa-github"></i>GitHub</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>


