services:
  - type: web
    name: movie-time
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: OMDB_API_KEY
        sync: false
    plan: free
